body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;	
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 400;
    margin-bottom: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: nowrap;
  margin-bottom: 0.5em;
}

.skill-item {
  gap: 0.5em;
  margin-bottom: 0.5em;
}


#mainLeft {
    border-right: 1px solid lightgray;
}

.movil {
    font-size: 16px;
}

.margen-top {
    margin-top: 2.3em;
}

@media (max-width: 768px) {

  header h1 {
    font-size: 28px;
  }

	main {
		grid-template-columns: 50% 50%;
    margin-top: 1em;
	}

  main p,ul {
    font-size: 12px;
  }

  ul {
    padding-left: 1.5em;
  }
  main h2 {
    font-size: 20px;    
  }

  div a {
    font-size: 12px;
  }

  section {
    margin: auto 1em 1em 1em;
  }

  .skill-item {
    font-size: 12px;
  }
  
  h3 {
    margin: 0;
    font-size: 12px;

  }

  article {
    margin: 0;
  }

  .margen-top {
    margin-top: 2.3em;
  }

  .tamano {
    font-size: 8px;
  }

  span {
    font-size: 14px;
  }

}

/* Utiles */

.paddin-bottom {
    padding-bottom: 1em;
}


@media print {
  body {
    color: black;
    background: white;
    font-size: 14px;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1 {
	 font-size: 30px;
   margin: 0 !important;
   padding: 0.3em !important
  }

  header {
    margin: 0 !important;
    padding: 0 !important;
  }

  header, section, article {
    background: none !important;
    box-shadow: none !important;
    color: black !important;
  }

  a {
    color: black;
    text-decoration: none;
  }

  i {
    display: none; /* oculta los iconos Font Awesome si no se imprimen bien */
  }

  span {
    font-size: 14px;
  }

  hr {
    border: none;
    background-color: black;
    height: 1px;
    margin: 1em 0;
  }


  main {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    margin-top: 0.5em;
  }

  #mainLeft {
    border-right: 1px solid gray;
    padding-right: 0.5em;
  }

  #mainRight {
    padding-left: 0em;
    font-size: 35pt;
  }

  /* Evita que los enlaces impriman la URL al lado */
  a[href]:after {
    content: "";
  }

  /* Quita márgenes de impresión por defecto del navegador */
  @page {
    margin: 1cm;
  }
  
  .contact-item .tamano {
	  font-size: 14px !important;
  }

  .margen-top {
    margin-top: 1.5em;
  }

}


